<template name="postView">
	{{> header}}
	<div class="container">
		<h2>Post View <small>Post View</small></h2>
		<div class="post-view">
			<h4>{{title}}</h4>
		    <small> <a href="{{link}}">{{link}}</a> </small>
			<h6> Tags: <kbd> {{tags}} </kbd> </h6>
			<h1>{{user}}</h1>
		</div>
        <a href="{{pathFor 'postEdit'}}">
			<button type="button" class="btn btn-default btn-lg btn-block">Edit</button>
		</a>
		<a href="#">
			<button type="button" class="btn btn-danger btn-lg btn-block btnRemove">Remove</button>
		</a>
  	</div>
  	{{> footer}}
</template>
